---
layout: default
---
{% assign category = page.category | default: page.title %}
<h2>"{{ page.category | default: page.title }}" 카테고리 입니다. </h2>
{% if page.category == nodejs %}
<p>node.js에 대한 소개입니다.</p>
{% endif %}
<ul class="posts-list">
  
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ page.date | date: "%B %e, %Y" }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>
