---
layout: default
---
{% assign category = page.category | default: page.title %}
<h2>"{{ page.category | default: page.title }}" 카테고리 입니다. </h2>
{% if category == "dapp" %}
<p>dapp에 대한 소개입니다.</p>
{% endif %}
{% if category == "devops" %}
<p>DevOps에 대한 소개입니다.</p>
{% endif %}
{% if category == "frontend-dev" %}
<p>Frontend 개발에 필요한 다양한 script에 대한  소개입니다.</p>
{% endif %}
{% if category == "gsuite" %}
<p>구글 G Suite를 이용한 협업 도구에 대한 소개입니다.</p>
{% endif %}
{% if category == "linuxpc" %}
<p>linux PC 구축에 대한 소개입니다.</p>
{% endif %}
{% if category == "nodejs" %}
<p>node.js에 대한 소개입니다.</p>
{% endif %}
{% if category == "vuejs" %}
<p>vue.js에 대한 소개입니다.</p>
{% endif %}
<ul class="posts-list">
  
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ page.date | date: "%B %e, %Y" }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>
